<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.boot.security.server.dao.CinemaDao">

	<sql id="where">
		<where>
			<if test="params.Id != null and params.Id != ''">
				and Id = #{params.Id} 
			</if>
			<if test="params.MId != null and params.MId != ''">
				and MId = #{params.MId} 
			</if>
			<if test="params.Code != null and params.Code != ''">
				and Code = #{params.Code} 
			</if>
			<if test="params.Name != null and params.Name != ''">
				and Name = #{params.Name} 
			</if>
			<if test="params.Address != null and params.Address != ''">
				and Address = #{params.Address} 
			</if>
			<if test="params.ScreenCount != null and params.ScreenCount != ''">
				and ScreenCount = #{params.ScreenCount} 
			</if>
			<if test="params.ManualAdd != null and params.ManualAdd != ''">
				and ManualAdd = #{params.ManualAdd} 
			</if>
			<if test="params.IsOpen != null and params.IsOpen != ''">
				and IsOpen = #{params.IsOpen} 
			</if>
			<if test="params.CinemaId != null and params.CinemaId != ''">
				and CinemaId = #{params.CinemaId} 
			</if>
			<if test="params.IsGeneralStore != null and params.IsGeneralStore != ''">
				and IsGeneralStore = #{params.IsGeneralStore} 
			</if>
		
		</where>
	</sql>

	<select id="count" resultType="int">
		select count(1) from cinema t
		<include refid="where" />
	</select>

	<select id="list" resultType="Cinema">
		select * from cinema t
		<include refid="where" />
		${params.orderBy}
		limit #{offset}, #{limit}
	</select>
	
	
	<select id="goodscount" resultType="int">
		select count(1) from (select t.* from cinema t left join goods g on t.code = g.CinemaCode <include refid="whereByrole" /> GROUP BY t.code)c 
		<include refid="where" />
	</select>
	
	<select id="goodslist" resultType="Cinema">
		select c.* from (select t.*,g.updated AS GoodsUpdated from cinema t left join goods g on t.code = g.CinemaCode <include refid="whereByrole" /> GROUP BY t.code)c   
		<include refid="where" />
		${params.orderBy}
		limit #{offset}, #{limit} 
	</select>

	<sql id="whereByrole">
		<where>
			<if test="params.roleId == 1 ">
				t.Code in (select cinemaCode from sys_user) 
			</if>
			<if test="params.roleId != 1 ">
				t.Code in (select CinemaCode from sys_user sy where  sy.id = #{params.id}  or  sy.createUserId = #{params.roleId}) 
			</if>
		</where>
	</sql>



	<select id="getCinemasByUser" resultType="Cinema">
		select * from cinema t
		<include refid="whereByroleId" />
	</select>
	<sql id="whereByroleId">
		<where>
			<if test="roleId == 1 ">
				t.Code in (select cinemaCode from sys_user) 
			</if>
			<if test="roleId != 1 ">
				t.Code in (select CinemaCode from sys_user sy  where sy.id = #{id}  or  sy.createUserId = #{roleId})
			</if>
		</where>
	</sql>
	
 	<update id="update">
		update cinema t
		<set>
			<if test="Id != null">
				Id = #{Id}, 
			</if>
			<if test="MId != null">
				MId = #{MId}, 
			</if>
			<if test="Code != null">
				Code = #{Code}, 
			</if>
			<if test="Name != null">
				Name = #{Name}, 
			</if>
			<if test="Province != null">
				Province = #{Province}, 
			</if>
			<if test="City != null">
				City = #{City}, 
			</if>
			<if test="Address != null">
				Address = #{Address}, 
			</if>
			<if test="ScreenCount != null">
				ScreenCount = #{ScreenCount}, 
			</if>
			<if test="ManualAdd != null">
				ManualAdd = #{ManualAdd}, 
			</if>
			<if test="IsOpen != null">
				IsOpen = #{IsOpen}, 
			</if>
			<if test="ContactName != null">
				ContactName = #{ContactName}, 
			</if>
			<if test="ContactMobile != null">
				ContactMobile = #{ContactMobile}, 
			</if>
			
			<if test="TheaterChain != null">
				TheaterChain = #{TheaterChain}, 
			</if>
			<if test="IsSnackDistribution != null">
				IsSnackDistribution = #{IsSnackDistribution}, 
			</if>
			<if test="Latitude != null">
				Latitude = #{Latitude}, 
			</if>
			<if test="Longitude != null">
				Longitude = #{Longitude}, 
			</if>
			<if test="IsOpenSnacks != null">
				IsOpenSnacks = #{IsOpenSnacks}, 
			</if>
			<if test="TicketHint != null">
				TicketHint = #{TicketHint}, 
			</if>
			<if test="CinemaLabel != null">
				CinemaLabel = #{CinemaLabel}, 
			</if>
			<if test="CinemaPhone != null">
				CinemaPhone = #{CinemaPhone}, 
			</if>
			<if test="CinemaId != null">
				CinemaId = #{CinemaId}, 
			</if>
			<if test="IsUseLowestPriceReport != null">
				IsUseLowestPriceReport = #{IsUseLowestPriceReport}, 
			</if>
			<if test="IsGeneralStore != null">
				IsGeneralStore = #{IsGeneralStore}, 
			</if>
			<if test="OverRefundTime != null">
				OverRefundTime = #{OverRefundTime}, 
			</if>
			<if test="RefundFee != null">
				RefundFee = #{RefundFee},
			</if>
		</set>

		where t.Id = #{Id}
	</update>
</mapper>