<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.boot.security.server.dao.GoodsDao">

	<sql id="where">
		<where>
			<if test="params.CinemaCode != null and params.CinemaCode != ''">
				and CinemaCode = #{params.CinemaCode} 
			</if>
			<if test="params.GoodsName != null and params.GoodsName != ''">
				and GoodsName like concat('%', #{params.GoodsName}, '%') 
			</if>
			<if test="params.GoodsType != null and params.GoodsType != ''">
				and GoodsType = #{params.GoodsType} 
			</if>
			<if test="params.TypeName != null and params.TypeName != ''">
				and t.TypeName = #{params.TypeName} 
			</if>
			<if test="params.GoodsStatus != null and params.GoodsStatus != ''">
				and GoodsStatus = #{params.GoodsStatus} 
			</if>
		
		</where>
	</sql>
	

	<select id="count" resultType="int">
		select count(1) from (select g.*,c.Name AS CinemaName,gt.typeName	from goods g	
								left join cinema c on g.CinemaCode=c.code 
								left join goodstype gt on g.cinemaCode=gt.cinemaCode and g.GoodsType=gt.TypeCode) t
		<include refid="where" />
	</select>

	<select id="list" resultType="Goods">
		select t.* from (select g.*,c.Name AS CinemaName,gt.typeName	from goods g	
						left join cinema c on g.CinemaCode=c.code 
						left join goodstype gt on g.cinemaCode=gt.cinemaCode and g.GoodsType=gt.TypeCode) t
		<include refid="where" />
		${params.orderBy}
		limit #{offset}, #{limit}
	</select>
	

	<update id="update">
		update goods t
		<set>
			<if test="Id != null">
				Id = #{Id}, 
			</if>
			<if test="CinemaCode != null">
				CinemaCode = #{CinemaCode}, 
			</if>
			<if test="UserId != null">
				UserId = #{UserId}, 
			</if>
			<if test="GoodsCode != null">
				GoodsCode = #{GoodsCode}, 
			</if>
			<if test="GoodsName != null">
				GoodsName = #{GoodsName}, 
			</if>
			<if test="GoodsType != null">
				GoodsType = #{GoodsType}, 
			</if>
			<if test="StandardPrice != null">
				StandardPrice = #{StandardPrice}, 
			</if>
			<if test="SettlePrice != null">
				SettlePrice = #{SettlePrice}, 
			</if>
			<if test="GoodsPic != null">
				GoodsPic = #{GoodsPic}, 
			</if>
			<if test="StockCount != null">
				StockCount = #{StockCount}, 
			</if>
			<if test="GoodsDesc != null">
				GoodsDesc = #{GoodsDesc}, 
			</if>
			<if test="UnitName != null">
				UnitName = #{UnitName}, 
			</if>
			<if test="ShowSeqNo != null">
				ShowSeqNo = #{ShowSeqNo}, 
			</if>
			<if test="IsDiscount != null">
				IsDiscount = #{IsDiscount}, 
			</if>
			<if test="GoodsKey != null">
				GoodsKey = #{GoodsKey}, 
			</if>
			<if test="GoodsStatus != null">
				GoodsStatus = #{GoodsStatus}, 
			</if>
			<if test="IsRecommand != null">
				IsRecommand = #{IsRecommand}, 
			</if>
			<if test="IsPackage != null">
				IsPackage = #{IsPackage}, 
			</if>
			<if test="Updated != null">
				Updated = #{Updated}, 
			</if>

		</set>

		where t.id = #{id}
	</update>

</mapper>
