<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.boot.security.server.dao.GoodscomponentsDao">

	<sql id="where">
		<where>
			<if test="params.Id != null and params.Id != ''">
				and Id = #{params.Id} 
			</if>
			<if test="params.CinemaCode != null and params.CinemaCode != ''">
				and CinemaCode = #{params.CinemaCode} 
			</if>
			<if test="params.PackageCode != null and params.PackageCode != ''">
				and PackageCode = #{params.PackageCode} 
			</if>
			<if test="params.PackageName != null and params.PackageName != ''">
				and PackageName = #{params.PackageName} 
			</if>
			<if test="params.PackagePic != null and params.PackagePic != ''">
				and PackagePic = #{params.PackagePic} 
			</if>
			<if test="params.GoodsCode != null and params.GoodsCode != ''">
				and GoodsCode = #{params.GoodsCode} 
			</if>
			<if test="params.GoodsName != null and params.GoodsName != ''">
				and GoodsName = #{params.GoodsName} 
			</if>
			<if test="params.GoodsCount != null and params.GoodsCount != ''">
				and GoodsCount = #{params.GoodsCount} 
			</if>
			<if test="params.GoodsStandardPrice != null and params.GoodsStandardPrice != ''">
				and GoodsStandardPrice = #{params.GoodsStandardPrice} 
			</if>
			<if test="params.GoodsSettlePrice != null and params.GoodsSettlePrice != ''">
				and GoodsSettlePrice = #{params.GoodsSettlePrice} 
			</if>
			<if test="params.PackageStandardPrice != null and params.PackageStandardPrice != ''">
				and PackageStandardPrice = #{params.PackageStandardPrice} 
			</if>
			<if test="params.PackageSettlePrice != null and params.PackageSettlePrice != ''">
				and PackageSettlePrice = #{params.PackageSettlePrice} 
			</if>
			<if test="params.RecommendCode != null and params.RecommendCode != ''">
				and RecommendCode = #{params.RecommendCode} 
			</if>
			<if test="params.Status != null and params.Status != ''">
				and Status = #{params.Status} 
			</if>
			<if test="params.Sort != null and params.Sort != ''">
				and Sort = #{params.Sort} 
			</if>
			<if test="params.UnitName != null and params.UnitName != ''">
				and UnitName = #{params.UnitName} 
			</if>
		
		</where>
	</sql>

	<select id="count" resultType="int">
		select count(1) from (select gc.*,gr.recommendName,s.cinemaName from (select * from goodscomponents <include refid="whereByroleId" />) gc
		left join goodsrecommend gr on gc.recommendCode=gr.recommendCode 
		left join sys_user s on gc.cinemaCode=s.cinemaCode group by gc.packageCode)t
		<include refid="where" />
	</select>

	<select id="list" resultType="Goodscomponents">
		select * from (select gc.*,gr.recommendName,s.cinemaName from (select * from goodscomponents <include refid="whereByroleId" />) gc
		left join goodsrecommend gr on gc.recommendCode=gr.recommendCode 
		left join sys_user s on gc.cinemaCode=s.cinemaCode group by gc.packageCode)t
		<include refid="where" />
		${params.orderBy}
		limit #{offset}, #{limit}
	</select>

	<sql id="whereByroleId">
		<where>
			<if test="params.roleId == 1 ">
				cinemaCode in (select cinemaCode from sys_user) 
			</if>
			<if test="params.roleId != 1 ">
				cinemaCode in (select CinemaCode from sys_user sy  where sy.id = #{params.id}  or  sy.createUserId = #{params.roleId})
			</if>
		</where>
	</sql>
	
	<update id="update">
		update goodscomponents t
		<set>
			<if test="Id != null">
				Id = #{Id}, 
			</if>
			<if test="CinemaCode != null">
				CinemaCode = #{CinemaCode}, 
			</if>
			<if test="PackageCode != null">
				PackageCode = #{PackageCode}, 
			</if>
			<if test="PackageName != null">
				PackageName = #{PackageName}, 
			</if>
			<if test="PackagePic != null">
				PackagePic = #{PackagePic}, 
			</if>
			<if test="GoodsCode != null">
				GoodsCode = #{GoodsCode}, 
			</if>
			<if test="GoodsName != null">
				GoodsName = #{GoodsName}, 
			</if>
			<if test="GoodsCount != null">
				GoodsCount = #{GoodsCount}, 
			</if>
			<if test="GoodsStandardPrice != null">
				GoodsStandardPrice = #{GoodsStandardPrice}, 
			</if>
			<if test="GoodsSettlePrice != null">
				GoodsSettlePrice = #{GoodsSettlePrice}, 
			</if>
			<if test="PackageStandardPrice != null">
				PackageStandardPrice = #{PackageStandardPrice}, 
			</if>
			<if test="PackageSettlePrice != null">
				PackageSettlePrice = #{PackageSettlePrice}, 
			</if>
			<if test="RecommendCode != null">
				RecommendCode = #{RecommendCode}, 
			</if>
			<if test="Status != null">
				Status = #{Status}, 
			</if>
			<if test="Sort != null">
				Sort = #{Sort}, 
			</if>
			<if test="UnitName != null">
				UnitName = #{UnitName}, 
			</if>

		</set>

		where t.id = #{id}
	</update>

</mapper>
