<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.boot.security.server.dao.MiniprogramordersviewDao">

	<sql id="where">
		<where>
			<if test="params.Id != null and params.Id != ''">
				and Id = #{params.Id} 
			</if>
			<if test="params.CinemaCode != null and params.CinemaCode != ''">
				and CinemaCode = #{params.CinemaCode} 
			</if>
			<if test="params.CinemaName != null and params.CinemaName != ''">
				and CinemaName = #{params.CinemaName} 
			</if>
			<if test="params.CinemaPhone != null and params.CinemaPhone != ''">
				and CinemaPhone = #{params.CinemaPhone} 
			</if>
			<if test="params.Address != null and params.Address != ''">
				and Address = #{params.Address} 
			</if>
			<if test="params.SessionCode != null and params.SessionCode != ''">
				and SessionCode = #{params.SessionCode} 
			</if>
			<if test="params.ScreenCode != null and params.ScreenCode != ''">
				and ScreenCode = #{params.ScreenCode} 
			</if>
			<if test="params.SessionTime != null and params.SessionTime != ''">
				and SessionTime = #{params.SessionTime} 
			</if>
			<if test="params.FilmCode != null and params.FilmCode != ''">
				and FilmCode = #{params.FilmCode} 
			</if>
			<if test="params.FilmName != null and params.FilmName != ''">
				and FilmName = #{params.FilmName} 
			</if>
			<if test="params.TicketCount != null and params.TicketCount != ''">
				and TicketCount = #{params.TicketCount} 
			</if>
			<if test="params.TotalSalePrice != null and params.TotalSalePrice != ''">
				and TotalSalePrice = #{params.TotalSalePrice} 
			</if>
			<if test="params.OrderStatus != null and params.OrderStatus != ''">
				and OrderStatus = #{params.OrderStatus} 
			</if>
			<if test="params.MobilePhone != null and params.MobilePhone != ''">
				and MobilePhone = #{params.MobilePhone} 
			</if>
			<if test="params.OrderCode != null and params.OrderCode != ''">
				and OrderCode = #{params.OrderCode} 
			</if>
			<if test="params.PrintNo != null and params.PrintNo != ''">
				and PrintNo = #{params.PrintNo} 
			</if>
			<if test="params.TicketInfoCode != null and params.TicketInfoCode != ''">
				and TicketInfoCode = #{params.TicketInfoCode} 
			</if>
			<if test="params.Created != null and params.Created != ''">
				and Created = #{params.Created} 
			</if>
			<if test="params.OpenID != null and params.OpenID != ''">
				and OpenID = #{params.OpenID} 
			</if>
			<if test="params.ScreenName != null and params.ScreenName != ''">
				and ScreenName = #{params.ScreenName} 
			</if>
			<if test="params.SeatName != null and params.SeatName != ''">
				and SeatName = #{params.SeatName} 
			</if>
		
		</where>
	</sql>

	<select id="count" resultType="int">
		select count(1) from miniprogramordersview t
		<include refid="where" />
	</select>

	<select id="list" resultType="Miniprogramordersview">
		select * from miniprogramordersview t
		<include refid="where" />
		${params.orderBy}
		limit #{offset}, #{limit}
	</select>

	<update id="update">
		update miniprogramordersview t
		<set>
			<if test="Id != null">
				Id = #{Id}, 
			</if>
			<if test="CinemaCode != null">
				CinemaCode = #{CinemaCode}, 
			</if>
			<if test="CinemaName != null">
				CinemaName = #{CinemaName}, 
			</if>
			<if test="CinemaPhone != null">
				CinemaPhone = #{CinemaPhone}, 
			</if>
			<if test="Address != null">
				Address = #{Address}, 
			</if>
			<if test="SessionCode != null">
				SessionCode = #{SessionCode}, 
			</if>
			<if test="ScreenCode != null">
				ScreenCode = #{ScreenCode}, 
			</if>
			<if test="SessionTime != null">
				SessionTime = #{SessionTime}, 
			</if>
			<if test="FilmCode != null">
				FilmCode = #{FilmCode}, 
			</if>
			<if test="FilmName != null">
				FilmName = #{FilmName}, 
			</if>
			<if test="TicketCount != null">
				TicketCount = #{TicketCount}, 
			</if>
			<if test="TotalSalePrice != null">
				TotalSalePrice = #{TotalSalePrice}, 
			</if>
			<if test="OrderStatus != null">
				OrderStatus = #{OrderStatus}, 
			</if>
			<if test="MobilePhone != null">
				MobilePhone = #{MobilePhone}, 
			</if>
			<if test="OrderCode != null">
				OrderCode = #{OrderCode}, 
			</if>
			<if test="PrintNo != null">
				PrintNo = #{PrintNo}, 
			</if>
			<if test="TicketInfoCode != null">
				TicketInfoCode = #{TicketInfoCode}, 
			</if>
			<if test="Created != null">
				Created = #{Created}, 
			</if>
			<if test="OpenID != null">
				OpenID = #{OpenID}, 
			</if>
			<if test="ScreenName != null">
				ScreenName = #{ScreenName}, 
			</if>
			<if test="SeatName != null">
				SeatName = #{SeatName}, 
			</if>

		</set>

		where t.id = #{id}
	</update>

</mapper>
