<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.boot.security.server.dao.SessioninfoDao">
	<resultMap type="Sessioninfo" id="Films">
		<result property="Id" column="Id"/>
		<result property="CCode" column="CCode"/>
		<result property="FilmCode" column="FilmCode"/>
		<result property="FilmName" column="FilmName"/>
		<result property="Duration" column="Duration"/>
		<result property="Language" column="Language"/>
		<association property="FileInfo" javaType="FileInfo">
			<result property="Id" column="Id"/>
			<result property="FilmCode" column="FilmCode"/>
			<result property="FilmName" column="FilmName"/>
		</association>
	</resultMap>
	<sql id="where">
		<where>
			<if test="params.Id != null and params.Id != ''">
				and s.Id = #{params.Id} 
			</if>
			<if test="params.CCode != null and params.CCode != ''">
				and s.CCode = #{params.CCode} 
			</if>
			<if test="params.StartTime !=null and params.StartTime != ''">
				and s.StartTime >= #{params.StartTime}
			</if>
			<if test="params.EndTime !=null and params.EndTime != ''">
				and #{params.EndTime} >= s.EndTime  
			</if>
		</where>
	</sql>

	<select id="count" resultType="int">
		select count(1) from filminfo f left join sessioninfo s 
		on f.FilmCode = s.FilmCode
		<include refid="where" />
	</select>

	<select id="getFilms" resultMap="Films">
		select f.id,s.* from filminfo f left join sessioninfo s 
		on f.FilmCode = s.FilmCode
		<include refid="where" />
		group by f.FilmCode
		${params.orderBy}
		limit #{offset}, #{limit}
	</select>

	<update id="update">
		update sessioninfo t
		<set>
			<if test="Id != null">
				Id = #{Id}, 
			</if>
			<if test="CCode != null">
				CCode = #{CCode}, 
			</if>
			<if test="SCode != null">
				SCode = #{SCode}, 
			</if>
			<if test="ScreenCode != null">
				ScreenCode = #{ScreenCode}, 
			</if>
			<if test="StartTime != null">
				StartTime = #{StartTime}, 
			</if>
			<if test="FilmCode != null">
				FilmCode = #{FilmCode}, 
			</if>
			<if test="FilmName != null">
				FilmName = #{FilmName}, 
			</if>
			<if test="Duration != null">
				Duration = #{Duration}, 
			</if>
			<if test="Language != null">
				Language = #{Language}, 
			</if>
			<if test="UpdateTime != null">
				UpdateTime = #{UpdateTime}, 
			</if>
			<if test="StandardPrice != null">
				StandardPrice = #{StandardPrice}, 
			</if>
			<if test="LowestPrice != null">
				LowestPrice = #{LowestPrice}, 
			</if>
			<if test="SettlePrice != null">
				SettlePrice = #{SettlePrice}, 
			</if>
			<if test="TicketFee != null">
				TicketFee = #{TicketFee}, 
			</if>
			<if test="IsAvalible != null">
				IsAvalible = #{IsAvalible}, 
			</if>
			<if test="PlaythroughFlag != null">
				PlaythroughFlag = #{PlaythroughFlag}, 
			</if>
			<if test="Dimensional != null">
				Dimensional = #{Dimensional}, 
			</if>
			<if test="Sequence != null">
				Sequence = #{Sequence}, 
			</if>
			<if test="UserID != null">
				UserID = #{UserID}, 
			</if>
			<if test="ListingPrice != null">
				ListingPrice = #{ListingPrice}, 
			</if>
			<if test="FeatureNo != null">
				FeatureNo = #{FeatureNo}, 
			</if>
			<if test="SessionId != null">
				SessionId = #{SessionId}, 
			</if>
			<if test="SessionKey != null">
				SessionKey = #{SessionKey}, 
			</if>
			<if test="InternalUpdateTime != null">
				InternalUpdateTime = #{InternalUpdateTime}, 
			</if>

		</set>

		where t.id = #{id}
	</update>

</mapper>
