<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.boot.security.server.dao.SnacksDao">

	<sql id="where">
		<where>
			<if test="params.Id != null and params.Id != ''">
				and Id = #{params.Id} 
			</if>
			<if test="params.CinemaCode != null and params.CinemaCode != ''">
				and CinemaCode = #{params.CinemaCode} 
			</if>
			<if test="params.SnackCode != null and params.SnackCode != ''">
				and SnackCode = #{params.SnackCode} 
			</if>
			<if test="params.TypeCode != null and params.TypeCode != ''">
				and TypeCode = #{params.TypeCode} 
			</if>
			<if test="params.SnackName != null and params.SnackName != ''">
				and SnackName = #{params.SnackName} 
			</if>
			<if test="params.Remark != null and params.Remark != ''">
				and Remark = #{params.Remark} 
			</if>
			<if test="params.StandardPrice != null and params.StandardPrice != ''">
				and StandardPrice = #{params.StandardPrice} 
			</if>
			<if test="params.SalePrice != null and params.SalePrice != ''">
				and SalePrice = #{params.SalePrice} 
			</if>
			<if test="params.Status != null and params.Status != ''">
				and Status = #{params.Status} 
			</if>
			<if test="params.Stock != null and params.Stock != ''">
				and Stock = #{params.Stock} 
			</if>
			<if test="params.ExpDate != null and params.ExpDate != ''">
				and ExpDate = #{params.ExpDate} 
			</if>
			<if test="params.IsDel != null and params.IsDel != ''">
				and IsDel = #{params.IsDel} 
			</if>
			<if test="params.IsRecommand != null and params.IsRecommand != ''">
				and IsRecommand = #{params.IsRecommand} 
			</if>
			<if test="params.Image != null and params.Image != ''">
				and Image = #{params.Image} 
			</if>
		
		</where>
	</sql>

	<select id="count" resultType="int">
		select count(1) from snacks t
		<include refid="where" />
	</select>

	<select id="list" resultType="Snacks">
		select * from snacks t
		<include refid="where" />
		${params.orderBy}
		limit #{offset}, #{limit}
	</select>

	<update id="update">
		update snacks t
		<set>
			<if test="Id != null">
				Id = #{Id}, 
			</if>
			<if test="CinemaCode != null">
				CinemaCode = #{CinemaCode}, 
			</if>
			<if test="SnackCode != null">
				SnackCode = #{SnackCode}, 
			</if>
			<if test="TypeCode != null">
				TypeCode = #{TypeCode}, 
			</if>
			<if test="SnackName != null">
				SnackName = #{SnackName}, 
			</if>
			<if test="Remark != null">
				Remark = #{Remark}, 
			</if>
			<if test="StandardPrice != null">
				StandardPrice = #{StandardPrice}, 
			</if>
			<if test="SalePrice != null">
				SalePrice = #{SalePrice}, 
			</if>
			<if test="Status != null">
				Status = #{Status}, 
			</if>
			<if test="Stock != null">
				Stock = #{Stock}, 
			</if>
			<if test="ExpDate != null">
				ExpDate = #{ExpDate}, 
			</if>
			<if test="IsDel != null">
				IsDel = #{IsDel}, 
			</if>
			<if test="IsRecommand != null">
				IsRecommand = #{IsRecommand}, 
			</if>
			<if test="Image != null">
				Image = #{Image}, 
			</if>

		</set>

		where t.id = #{id}
	</update>

</mapper>
