html{
            width: 100%;
            height: 100%;
            background: rgb(245,245,245);
        }
        #ticket-sale{
            width: 100%;
            height: 100%;
            background: rgb(245,245,245);
        }
        #content{
            width: 90%;
            height: 100%;
            margin: 0 auto;
            position: relative;
            padding-top: 22px;
        }
        .ts-title{
            font-size: 32px;
            position: relative;
            width: 100%;
            height: 50px;
            border-bottom: 1px solid #cccccc;
        }
        .region,.cinema{
        	position: absolute;
        	right: 0;
        	top: 20px;
        }
        .region{
        	width: 150px;
        	height: 45px;
        	padding: 10px;
		    border-radius: 10px;
		    outline: none;
		    border: 1px solid #cccccc;
		    right: 230px;
        }
        .cinema{
       	    height: 45px;
		    width: 220px;
		    padding: 10px;
		    border-radius: 10px;
		    outline: none;
		    border: 1px solid #cccccc;
        }
        .ts-activity{
            position: relative;
            width: 100%;
            height: 110px;
        }
        .new-activity{
            position: absolute;
            height: 50px;
            width: 280px;
            background: rgb(231,81,76);
            color: white;
            font-size: 20px;
            text-align: center;
            line-height: 50px;
            letter-spacing: 3px;
            cursor: pointer;
            bottom: 10px;
        }
        .query{
            position: absolute;
            right: 0;
            bottom: 10px;
        }
        .activity-name{
            width: 220px;
            height: 45px;
            margin-right: 10px;
            border-radius: 10px;
            padding: 10px;
            outline: none;
            border: 1px solid #cccccc;
        }
        .activity-way{
        	width: 220px;
            height: 45px;
            margin-right: 10px;
            border-radius: 10px;
            padding: 10px;
            outline: none;
            border: 1px solid #cccccc;
        }
        .activity-state{
            height: 45px;
            width: 220px;
            margin-right: 10px;
            padding: 10px;
            border-radius: 10px;
            outline: none;
            border: 1px solid #cccccc;
        }
        .query-btn,.del-btn{
            width: 70px;
            height: 40px;
            background: rgb(0,117,170);
            color: white;
            font-size: 16px;
            outline: none;
            border: none;
            cursor: pointer;
            border-radius: 10px;
        }
        .ts-form{
        	position: relative;
        	width: 100%;
        	height: 300px;
        }
        #create{
        	display: none;
            width: 90%;
            height: 100%;
            margin: 0 auto;
            position: relative;
            padding-top: 22px;
        }
        .create-title{
            font-size: 32px;
            position: relative;
            width: 100%;
            height: 50px;
            border-bottom: 1px solid #cccccc;
        }
        .create-container{
            width: 100%;
            position: relative;
            background: white;
            padding-top: 50px;
            font-size: 20px;
            padding-bottom: 50px;
        }
        .create-container>div{
            position: relative;
            left: 100px;
        }
        .create-name{
            width: 680px;
            height: 45px;
        }
        .headings{
            margin-right: 20px;
        }
        .name-inp{
            width: 500px;
            height: 35px;
            font-size: 20px;
            outline: none;
        }
        .other{
            margin-top: 40px;
        }
        .create-kind{
            width: 300px;
            height: 45px;
        }
        .kind-select{
            width: 180px;
            height: 40px;
            outline: none;
            font-size: 16px;
        }
        .create-amount{
            width: 350px;
            height: 45px;
        }
        .create-votes{
            width: 350px;
            height: 80px;
        }
        .number-options{
            width: 660px;
            position: relative;
            left: 110px;
            top: -25px;
        }
        .votes-info{
            width: 750px;
            height: 40px;
            position: relative;
            left: 110px;
            top: -20px;
        }
        .describe{
            font-size: 12px;
            color: red;
        }
        .votes-explain{
            width: 460px;
            height: 30px;
            font-size: 12px;
            color: red;
            position: relative;
            left: 410px;
            top: -20px;
        }
        .create-purchasing{
            width: 400px;
            height: 80px;
        }
        .purchasing-option{
            position: absolute;
            left: 110px;
            top: 0;
            width: 240px;
        }
        .amount-inp{
            width: 180px;
            height: 30px;
            outline: none;
        }
        .unit{
            position: absolute;
            right: 0;
        }
        .create-cinema,.create-screens{
            width: 90%;
            height: 160px;
        }
        .cinema-content,.screens-content{
            position: absolute;
            width: 75%;
            height: 160px;
            left: 110px;
            top: 0;
        }
        form>input{
            width: 20px;
            height: 20px;
        }
        .cinema-name,.screens-name{
            font-size: 15px;
            margin-top: 5px;
            height: 125px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            border: 1px solid #cccccc;
            background: rgb(245,245,245);
        }
        .cinema-name>div{
            width: 33.33%;
            height: 20px;
        }
        .screens-name>div{
            width: 33.33%;
            height: 20px;
        }
        .cinema-least,.screens-least{
            position: absolute;
            left: 260px;
            top: 8px;
            font-size: 12px;
            color: red;
        }
        .goods-kind>li{
            position: relative;
            width: 70px;
            height: 35px;
            line-height: 35px;
            left: 10px;
        }
        .movie-options{
            width: 660px;
            position: relative;
            left: 110px;
            top: -25px;
        }
        .movie-least{
            position: absolute;
            left: 480px;
            top: 8px;
            font-size: 12px;
            color: red;
        }
        .movie-btn{
            width: 400px;
            height: 35px;
            outline: none;
            padding: 5px;
            font-size: 16px;
        }
        .movie-options>div{
            margin-top: 5px;
        }
        .empty{
            cursor: pointer;
        }
        .create-movie{
            width: 600px;
            height: 60px;
        }
        .create-share,.create-use,.create-state{
            width: 450px;
            height: 40px;
        }
        .share-options,.use-options,.state-options{
            width: 250px;
            height: 40px;
            font-size: 16px;
        }
        .create-selected,.create-time{
        	width: 600px;
        }
        .create-day{
            width: 75%;
            height: 80px;
        }
        #test1,#test3{
            position: absolute;
            left: 130px;
            height: 35px;
            width: 160px;
        }
        .time-to{
            position: absolute;
            left: 300px;
            top: 5px;
        }
        #test2,#test4{
            position: absolute;
            left: 325px;
            height: 35px;
            width: 160px;
        }
        .day-time{
            position: absolute;
            left: 520px;
            height: 40px;
            width: 100px;
            font-size: 16px;
        }
        .cancel{
            position: relative;
            left: 35%;
            transform: translate(-50%,0);
        }
        .confirm{
            position: relative;
            left: 50%;
            transform: translate(-50%,0);
        }
        .day-add{
            position: relative;
            width: 120px;
            height: 25px;
            font-size: 14px;
            cursor: pointer;
            top: 30px;
            left: 200px;
        }
        .sign{
            width: 15px;
            height: 15px;
            background: rgb(37,161,207);
            border-radius: 50%;
            color: white;
            text-align: center;
            line-height: 15px;
            font-size: 10px;
            position: absolute;
            top: 2px;
        }
        .add-font{
            position: absolute;
            left: 20px;
        }